doctype html
html
    head
        title= '老司机企业端 发货平台'



        link(rel='stylesheet', href='/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/assets/css/theme.css')
        link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
        link(rel='stylesheet', href='/assets/css/alertify.css')
        link(rel='stylesheet', href='/assets/css/datepicker.css')

        script(src='/assets/js/jquery.min.js')
        script(src='/assets/js/jquery-ui.min.js')
        script(src='/assets/js/raphael-min.js')
        script(src='/assets/js/bootstrap.js')
        script(src='/assets/js/sparkline.js')

        script(src='/assets/js/morris.min.js')
        script(src='/assets/js/jquery.dataTables.min.js')
        script(src='/assets/js/jquery.masonry.min.js')
        script(src='/assets/js/jquery.imagesloaded.min.js')
        script(src='/assets/js/jquery.facybox.js')

        script(src='/assets/js/jquery.alertify.min.js')
        script(src='/assets/js/jquery.knob.js')
        script(src='/assets/js/fullcalendar.min.js')
        script(src='/assets/js/jquery.gritter.min.js')
        script(src='/assets/js/realm.js')
        script(src='/assets/js/jquery.slimscroll.min.js')
        script(src='/assets/js/select2.min.js')
        script(src='/assets/js/bootstrap-datepicker.js')
        script(src='/assets/js/bootstrap-timepicker.js')
        script(src='https://webapi.amap.com/maps?v=1.4.7&key=6075ce6f86dce89d29037e52998e5f3c')
        script(src='/javascripts/bootstrap-paginator.js')
    body
        div#wrap
            div.navbar.navbar-fixed-top
                div.navbar-inner
                    div.container-fluid
                        div.logo
                            image(src="/assets/img/logo.png" style="height:30px;")

                        div.top-menu.visible-desktop
                            ul.pull-left
                                li
                                    a
                                        三一老司机发货平台

                        div.top-menu.visible-desktop
                            ul.pull-right
                                li
                                    a(href="/admin/logout")
                                        i.icon-off
                                        退出

            div.container-fluid
                div.sidebar-nav.nav-collapse.collapse
                    div.user_side.clearfix
                        image(src="/assets/img/share.jpg")
                        h5 #{username}
                        a(href="#")
                            i.icon-cog  修改密码


                    div.accordion
                        div.accordion-group
                            div.accordion-heading
                                a.accordion-toggle(href="/api/publish/index")
                                    i.icon-pencil(style="padding-right:8px;")
                                    span 发单

                        div.accordion-group
                          div.accordion-heading
                            a.accordion-toggle.b_C3F7A7.collapsed(href="#collapse3" data-toggle="collapse" data-parent="#accordion2")
                              i.icon-reorder(style="padding-right:8px;")
                              span 运单管理

                          div#collapse3.accordion-body.collapse
                            div.accordion-inner
                              a.accordion-toggle(href="/api/order/all")
                                i.icon-circle(style="padding:0 8px;")
                                运单列表
                              a.accordion-toggle(href="/api/order/finish")
                                i.icon-circle(style="padding:0 8px;")
                                已完成
                              a.accordion-toggle(href="/api/need/all")
                                i.icon-circle(style="padding:0 8px;")
                                待接单

                div.main_container#dashboard_page
                    block content
script.
    var pathname = self.location.pathname
    var actived = document.querySelector("a[href='"+ pathname+"']")
    if(actived){
        actived.className += ' active b_F79999'
    }

    console.log(pathname.indexOf("order"))
    console.log(pathname.indexOf("need"))
    if(pathname.indexOf("order") !=-1 || pathname.indexOf("need") !=-1)
    {
        $("#collapse3")[0].style.height="auto"
        console.log("3")
    }
    else if(pathname.indexOf('account') !=-1){
        $("#collapse2")[0].style.height="auto"
        console.log('2')
    }
    else if(pathname.indexOf('company') !=-1) {
        $("#collapse1")[0].style.height = "auto"
        console.log('1')
    }
    console.log(self.location.pathname)